<%- include('header'); -%>
<div class="contact">
    <table id = "contact "> 
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>Anon Avenue</td>
          <td>0509218929</td>
          <td>johndoe@gmail.com</td>
        </tr>
            <td>Jane Doe</td>
            <td>Anon Boulevard</td>
            <td>0509218219</td>
            <td>janedoe@gmail.com</td>
          </tr>
      </table>
</div>
<%- include('footer'); -%>