<%- include('header'); -%>
    <div class='content'>
        <h1>
            <%= username %>
        </h1>
        <h2>Register, if you aren't a member yet! <a href="/register">here</a></h2>
        <br>
    </div>
<%- include('footer'); -%>